@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");


.navbar-custom{
    background-color: black;
    height: 8rem;
    font-family: 'Russo One', sans-serif;
}
div ul li a {
    font-size: 1.5rem;
}
.max-height{
    
    min-height: calc(100vh - 128px);
    background: url('/images/iStock-1205489760.jpg')center/cover no-repeat fixed;
    display: block;
}
.about-picture{
    background: url(/images/iStock-1223133311.jpg)center/cover no-repeat fixed;
}
.height-80{
 min-height:80vh;
}
.custom-about{
    background-color: black;
}